@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(font/MaterialIcons-Regular.ttf) format('truetype');
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(font/MaterialIcons-Regular.eot) format('embbed-opentype'),
        url(font/MaterialIcons-Regular.woff2) format('woff2'),
        url(font/MaterialIcons-Regular.woff) format('woff'),
        url(font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.center {
    position: relative;
    z-index: 9999;
    top: 60px;
    left: 0px;
}

.center h3 {
    position: relative;
    top: 310px;
    right: 0;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px #303030;
}