/*Mobile version*/
body {
	width: 100%;
	height: 100%;
}

.container {
	min-height: 86vh;
}

.card, .akordion {
	border-radius: 10px;
}

/*Tablet version*/
@media (min-width: 768px) {
	.container {
		min-height: 86vh;
		max-width: 70rem;
	}

	.card:hover {
		box-shadow: 1px 1px 30px black;
	}
}

/*Desktop version*/
@media (min-width: 992px) {
	.container {
		min-height: 86vh;
		max-width: 80rem;
	}

	.card:hover {
		box-shadow: 1px 1px 30px black;
	}
}